<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">

    <servlet>
        <servlet-name>BuyerRegistrationServlet</servlet-name>
        <servlet-class>org.example.BuyerRegistrationServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>BuyerRegistrationServlet</servlet-name>
        <url-pattern>/BuyerRegistrationServlet</url-pattern>
    </servlet-mapping>


    <servlet>
        <servlet-name>ShopkeeperRegistrationServlet</servlet-name>
        <servlet-class>org.example.ShopkeeperRegistrationServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ShopkeeperRegistrationServlet</servlet-name>
        <url-pattern>/ShopkeeperRegistrationServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>BuyerLoginServlet</servlet-name>
        <servlet-class>org.example.BuyerLoginServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>BuyerLoginServlet</servlet-name>
        <url-pattern>/BuyerLoginServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ShopkeeperLoginServlet</servlet-name>
        <servlet-class>org.example.ShopkeeperLoginServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ShopkeeperLoginServlet</servlet-name>
        <url-pattern>/ShopkeeperLoginServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ShopkeeperAddServlet</servlet-name>
        <servlet-class>org.example.ShopkeeperAddServlet</servlet-class>
        <multipart-config>
            <location>/tmp</location>
            <max-file-size>20848820</max-file-size>
            <max-request-size>418018841</max-request-size>
            <file-size-threshold>1048576</file-size-threshold>
        </multipart-config>
    </servlet>
    <servlet-mapping>
        <servlet-name>ShopkeeperAddServlet</servlet-name>
        <url-pattern>/ShopkeeperAddServlet</url-pattern>
    </servlet-mapping>


    <welcome-file-list>
        <welcome-file>Store.jsp</welcome-file>
    </welcome-file-list>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>org.example.LogoutServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/LogoutServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>BuyerRegServlet</servlet-name>
        <servlet-class>org.example.BuyerRegServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>BuyerRegServlet</servlet-name>
        <url-pattern>/BuyerRegServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>infoRetreiveServlet</servlet-name>
        <servlet-class>org.example.infoRetreiveServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>infoRetreiveServlet</servlet-name>
        <url-pattern>/infoRetreiveServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>EmptyCartServlet</servlet-name>
        <servlet-class>org.example.EmptyCartServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>EmptyCartServlet</servlet-name>
        <url-pattern>/EmptyCartServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AddToCartServlet</servlet-name>
        <servlet-class>org.example.AddToCartServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddToCartServlet</servlet-name>
        <url-pattern>/AddToCartServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ProductSearchServlet</servlet-name>
        <servlet-class>org.example.ProductSearchServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ProductSearchServlet</servlet-name>
        <url-pattern>/ProductSearchServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ShopkeeperUpdateServlet</servlet-name>
        <servlet-class>org.example.ShopkeeperUpdateServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ShopkeeperUpdateServlet</servlet-name>
        <url-pattern>/ShopkeeperUpdateServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>retrieveBuyerServlet</servlet-name>
        <servlet-class>org.example.retrieveBuyerServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>retrieveBuyerServlet</servlet-name>
        <url-pattern>/retrieveBuyerServlet</url-pattern>
    </servlet-mapping>

</web-app>